/* Preboot.less
 * Variables and mixins to pre-ignite any new web development project
 * ------------------------------------------------------------------ */
.clear{
	clear:both;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/*---------------------------------------------------------------------------
Default Styling
---------------------------------------------------------------------------*/* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  min-width: 100%;
  background: #fff;
  font-family: Arial, sans-serif;
  font-size: 0.93em;
  color: #404040;
}
.content {
  width: auto;
  min-width: 960px;
  max-width: 1200px;
  margin: 0 auto;
}

/*---------------------------------------------------------------------------
INSTALLER
---------------------------------------------------------------------------*/

fieldset{
	border:1px solid #D8D4D4;
	margin:10px;
	padding:10px;
}


/*---------------------------------------------------------------------------
sidebar styling
---------------------------------------------------------------------------*/
#sidebar {
  float: left;
  min-width: 20%;
  max-width: 20%;
  position: relative;
  padding: 20px 0 0 7px;
}
#content {
  float: left;
  width: 100%;
  position: relative;
  height: 100%;
  background: #ffffff;
}
#main {
  border-left: 1px solid #e5e5e5;
  float: right;
  min-width: 77%;
  max-width: 77%;
  padding-top: 20px;
  position: relative;
  padding-bottom: 30px;
  padding-left: 20px;
  height: 100%;
  background: #ffffff;
}
.booking_widget {
  width: 100%;
}
#sidebar.container {
  width: 100%;
}
/*---------------------------------------------------------------------------
Dashboard Styling
---------------------------------------------------------------------------*/
ul.dash {
  float: left;
  display: block;
  margin: 20px 0 20px 0;
}
ul.dash li {
  float: left;
  display: inline;
  margin: 0 15px 15px 0;
}
ul.dash li a {
  display: block;
  width: 106px;
  height: 102px;
  text-decoration: none;
  border: 1px solid #e5e5e5;
  background: #FCF9F9;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #404040;
}
ul.dash li a:hover {
  outline: none;
  color: #4d90fe;
  border: 1px solid #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
ul.dash li a img {
  display: inline;
  width: 48px;
  margin-left: 29px;
  margin-top: 20px;
}
ul.dash li a span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
}

.wrapper{
	background:#FAFCE0;
	height:155px;
	padding:5px;
	border:1px solid #F4F7CF;
}

.wrapper h2{
	margin:10px;
}
.wrapper p{
	margin:10px;
}

ul.get_started{
	float: left;
  display: block;
  margin: 0 0 20px 0;


}

ul.get_started li{
	float: left;
	display: inline;
	list-style:none;	
	width:105px;
	margin: 0 0 0 10px;
	text-align:center;
}

ul.get_started li a{
	margin-top:10px;
}

/*---------------------------------------------------------------------------
Text Styling
---------------------------------------------------------------------------*/
h1 {
  text-size: 20px;
  margin: 10px 0 10px 0;
}
h2 {
  margin: 7px 0 7px 0;
}
/*---------------------------------------------------------------------------
Header Styling
---------------------------------------------------------------------------*/
.header-bar {
  background: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  height: 80px;
}
.logo {
  float: left;
  height: 70px;
  margin-top: 4px;
}
.nav {
  float: right;
}
.nav ul {
  display: inline;
  float: right;
  position: relative;
  padding-right: 10px;
  margin-top: 20px;
}
.nav ul li {
  display: inline;
}

.nav-setup{
	float:right;

	margin-top:5px;
	
}
/*---------------------------------------------------------------------------
LOGIN STYLES
---------------------------------------------------------------------------*/
#login_box {
  width: 300px;
  margin: 0 auto;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  padding: 20px 25px 15px 20px;
}
.login_logo {
  width: 350px;
  margin: 0 auto;
}
#login_footer {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
#login_footer a {
  color: #808080;
}
p.login_footer {
  margin: 10px;
  color: #808080;
}
/*---------------------------------------------------------------------------
FOOTER STYLES
---------------------------------------------------------------------------*/
#footer {
  height: 40px;
  border-top: 1px solid #e5e5e5;
  background: #f5f5f5;
  clear: both;
  margin-top: 20px;
}
.footer_text {
  margin: 0 auto;
  color: #808080;
  text-align: center;
}
.footer_text a {
  color: #808080;
  text-decoration: none;
}
.footer_text a:hover {
  text-decoration: underline;
  color: #049cdb;
}
/*---------------------------------------------------------------------------
MSGS Styling
---------------------------------------------------------------------------*/
.error_message, .error {
  background: #fae5e3 20px 50% no-repeat;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 100%;
  margin: 10px 0 10px 0;
}
.error_message p, .error p, .msg p {
  padding: 5px;
}
.msg {
  background: #d1eed1 20px 50% no-repeat;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  width: 100%;
  margin: 10px 0 10px 0;
}

.validate{
	display:inline;
}

.information {
  background: #c3e4fd url('../images/icons/info_48.png') 20px 50% no-repeat;
  border: 1px solid #688fdc;
}
.message:hover {
  cursor: pointer;
}

.swap{
	overflow:hidden;
	height:40px;
	background:#DDF4FB;
	border:1px solid #C6EDF9;
}

.swap h3{
	padding:12px;
}

small{ 
	color:#439E43;
}

.swap a{
	bottom:36px;
	position:relative;
	float:right;
	right:10px;
}

.margin{
	margin:10px;
}

#booking_info
{
	width:130px;
	height:130px;
}

/*---------------------------------------------------------------------------
+INDIVUGUAL NOTIFICATIONS
+---------------------------------------------------------------------------*/

.notification{
    overflow:hidden;
    height:70px;
    margin-top:15px;
    background:#DDF4FB;
    border:1px solid #C6EDF9;
}

.notification h3{
    padding:12px;
    width:70%;
    
}

.decide{
    width:170px;
    position:relative;
    float:right;
    margin:10px;
    bottom:60px;
}

.decide p{
    margin:0 auto;
 }


/*---------------------------------------------------------------------------
Form Styling
---------------------------------------------------------------------------*/
label {
  margin-bottom: 5px;
  display: inline-block;
}
input[type=text], input[type=password], input[type=url]{
  font-size: 15px;
  height: 32px;
  background: #fff;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  padding-left: 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
}
select {
  display: block;
  width: 100%;
}

 input[type=checkbox]{
	margin-left:10px;
}

input[type=submit] {
  display: block;
}
.wide {
  width: 100%;
}
input[type=text]:focus, input[type=password]:focus {
  outline: none;
  border: 1px solid #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
/*---------------------------------------------------------------------------
Button Styling
---------------------------------------------------------------------------*/
.button {
  display: inline-block;
  min-width: 54px;
  text-align: center;
  color: #555;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  padding: 0 8px;
  line-height: 27px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img_button {
  padding: 5px 5px 0 0;
}
.green {
  border: 1px solid #285d28;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #46a546;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#46a546), to(#439e43));
  background-image: -webkit-linear-gradient(top, #46a546, #439e43);
  background-image: -moz-linear-gradient(top, #46a546, #439e43);
  background-image: -ms-linear-gradient(top, #46a546, #439e43);
  background-image: -o-linear-gradient(top, #46a546, #439e43);
  background-image: linear-gradient(top, #46a546, #439e43);
}
.red {
  border: 1px solid #9d2017;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #c9291e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c9291e), to(#bc2318));
  background-image: -webkit-linear-gradient(top, #c9291e, #bc2318);
  background-image: -moz-linear-gradient(top, #c9291e, #bc2318);
  background-image: -ms-linear-gradient(top, #c9291e, #bc2318);
  background-image: -o-linear-gradient(top, #c9291e, #bc2318);
  background-image: linear-gradient(top, #c9291e, #bc2318);
}
.blue {
  border: 1px solid #0064cd;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #049cdb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
}
.disabled {
  cursor: default;
  border: 1px solid #e6e6e6;
  color: #808080;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #f5f5f5);
  background-image: -moz-linear-gradient(top, #e6e6e6, #f5f5f5);
  background-image: -ms-linear-gradient(top, #e6e6e6, #f5f5f5);
  background-image: -o-linear-gradient(top, #e6e6e6, #f5f5f5);
  background-image: linear-gradient(top, #e6e6e6, #f5f5f5);
}
/*---------------------------------------------------------------------------
Booking styles
---------------------------------------------------------------------------*/
.booking-thin {
  background: #e6e6e6;
}
#block_booking {
  background: none repeat scroll 0 0 #E8F3DD;
  border: 1px solid #D1E397;
  text-align: center;
}
#normal_booking {
  background: none repeat scroll 0 0 #D6F0FC;
  border: 1px solid #96CFF1;
  text-align: center;
	height:20px;
}


/*---------------------------------------------------------------------------
TABLE Styling
---------------------------------------------------------------------------*/
/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
table {
  margin-bottom: 18px;
  padding: 0;
  border-collapse: separate;
  font-size: 13px;
}
table th, table td {
  padding: 10px 10px 9px;
  line-height: 13.5px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
table th {
  padding-top: 9px;
  font-weight: bold;
  border-bottom-width: 2px;
}
.zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
.zebra-striped tbody tr:hover td {
  background-color: #f5f5f5;
}
.zebra-striped .headerSortUp, .zebra-striped .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.zebra-striped .header:hover:after {
  visibility: visible;
}
.zebra-striped .headerSortDown:after, .zebra-striped .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.zebra-striped .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
/*---------------------------------------------------------------------------
Datepicker styles
---------------------------------------------------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  color: #bfbfbf;
}
.ui-state-highlight {
  background: #D6F0FC;
  border: 1px solid #049cdb;
}
.ui-datepicker {
  width: auto;
  padding: .2em .2em 0;
  background: #ffffff;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.1em;
}
.ui-datepicker-header {
  background: #f5f5f5;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  float: left;
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year {
  float: right;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
.ui-datepicker tbody tr:hover td {
  background-color: #f5f5f5;
}
.ui-datepicker th {
  padding: 1px;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons_black.png");
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}
